/java/LexCryptaDown/nb-configuration.xml
/java/LexCryptaUp/nb-configuration.xml
/java/LexCryptaCore/target/
/java/LexCryptaUp/target/
/java/LexCryptaDown/target/
/java/LexCryptaCore/nb-configuration.xml
/java/LexCryptaUp/mvn-pro.properties
/java/LexCryptaDown/mvn-pro.properties